@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,700&display=swap&subset=japanese');

body {
  color: #333333;
  /* font-family: 'Noto Sans JP', sans-serif; */
  /* font-family: sans-serif; */
}

#pageBodyMain p {
  font-size: 16px;
  line-height: 1.875;
}

/* 図版 */
figure {
  margin: 0;
}

/* 見出し */
#pageBodyMain .pageTitle {
  font-size: 28px;
  line-height: 1.5;
}

#pageBodyMain .heading-typeA {
  font-size: 22px;
  color: #000000;
  line-height: 1.5;
}

#pageBodyMain h3 {
  font-size: 20px;
  line-height: 1.9;
}

#pageBodyMain .articleDetailBody,
#pageBodyMain .articleDetailFoot {
  width: 800px;
  margin: 0 auto;
}

/* 余白 */
#pageBodyMain .articleDetailHead {
  margin-bottom: 100px;
}

#pageBodyMain .articleDetailFoot {
  margin-top: 20px;
  padding-top: 15px;
}

#pageBodySub {
  margin-top: 40px;
}

#pageBodyFoot {
  margin-bottom: 120px;
}

/* グローバルナビ */
#pageBodyHead {
  display: flex;
}

#pageBodyHead .logo {
  display: inline-block;
  margin: 10px 0 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pageBodyHead .logo svg {
  fill: #055BAC;
}


#pageBodyHead .globalNavi {
  margin: 0 20px 0 auto;
}

#pageBodyHead .globalNavi ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

#pageBodyHead .globalNavi ul li {
  font-size: 14px;
  line-height: 1.5;
  font-weight: bold;
  display: inline-block;
  margin-left: 5px;
}
#pageBodyHead .globalNavi ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 15px 0;
  transition: color 0.2s;
}
#pageBodyHead .globalNavi ul li a:hover {
  color: #0C419A;
  border-bottom: solid 2px #01186E;
}

#pageBodyHead .headerBtn,
#pageBodyHead .ham {
  display: inline-block;
  padding: 15px 20px;
}
#pageBodyHead .headerBtn:hover,
#pageBodyHead .ham:hover {
  opacity: 0.5;
}
/* ハンバーガーメニュー */
.ham,
.ham span {
  display: inline-block;
  box-sizing: border-box;
}
.ham {
  position: relative;
  width: 60px;
  height: 53px;
}
.ham span {
  position: absolute;
  left: 20px;
  width: 20px;
  height: 2px;
  background-color: #333333;
}
.ham span:nth-of-type(1) {
  top: 17px;
}
.ham span:nth-of-type(2) {
  top: 25px;
}
.ham span:nth-of-type(3) {
  bottom: 17px;
}

/* パンくずナビ */
.topicPath {
  margin: 10px auto 25px 90px;
}

.topicPath p{
  display: inline-block;
  font-size: 12px;
  line-height: 1.5;
  color: #999999;
  margin: 0;
}

.topicPath a {
  color: inherit;
  text-decoration: none;
  background-image: url("../images/icon-chevronRight.svg");
  background-repeat: no-repeat;
  background-size: 4px;
  background-position:right;
  padding-right: 12px;
}

/* タイトルヘッダー */
#pageBodyMain .articleDetail .articleDetailHead {
  background-image: url("../images/main.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 250px;
}

#pageBodyMain .articleDetail .articleDetailHead .title {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
  width: 420px;
  padding: 15px 25px;
  margin-left: 200px;
}

#pageBodyMain .articleDetail .articleDetailHead .title .pageTitle {
  margin:0;
}

#pageBodyMain .articleDetail .articleDetailHead .title p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 20px;
}

#pageBodyMain .articleDetail h2 {
  background-image: url("../images/icon-title.png");
  background-size: 23px;
  background-repeat: no-repeat;
  background-position: 0 7px;
  padding-left: 35px;
  font-weight: 700;
}

/* PDFリンク */
#pageBodyMain .articleDetailFoot .pdfLink {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#pageBodyMain .articleDetailFoot .pdfLink a{
  position: relative;
  line-height: 1.187;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color: #FFFFFF;
  background-color: #055AAC;
  padding: 15px 20px;
}
#pageBodyMain .articleDetailFoot .pdfLink a:before {
  position: absolute;
  top: 35px;
  left: 10px;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: url('../images/icon-chevronRightWhite.svg') center/contain no-repeat;
}

#pageBodyMain .articleDetailFoot .pdfLink a:after {
  position: absolute;
  top: 35px;
  right: 90px;
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background: url('../images/icon-pdf.svg') center/contain no-repeat;
}

#pageBodyMain .articleDetailFoot .pdfLink a:hover {
  background-color: #347CBC;
}
/* ページリンク */
#pageBodyMain .articleDetailFoot .pageLink:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodyMain .articleDetailFoot .pageLink .pageLinkLeft {
  float: left;
}

#pageBodyMain .articleDetailFoot .pageLink .pageLinkRight {
  float: right;
}

#pageBodyMain .articleDetailFoot .pageLink .pageLinkLeft a,
#pageBodyMain .articleDetailFoot .pageLink .pageLinkRight a {
  color: #0C419A;
  text-decoration: none;
}
#pageBodyMain .articleDetailFoot .pageLink .pageLinkLeft a:hover,
#pageBodyMain .articleDetailFoot .pageLink .pageLinkRight a:hover {
  text-decoration: underline;
}

/* ローカルナビ */
#pageBodySub .localNavi {
  width: 760px;
  background-color: #DEECF8;
  padding: 20px;
  margin: 0 auto;
}

#pageBodySub .localNavi h4 {
  font-size: 16px;
  line-height: 1.875;
  margin: 0 0 10px 0;
}

#pageBodySub .localNavi ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin:0;
}

#pageBodySub .localNavi ul li {
  display: flex;
}

#pageBodySub .localNavi ul li a {
  position: relative;
  color: #0C419A;
  font-size:16px;
  line-height: 1.187;
  text-decoration: none;
  text-align: center;
  display: block;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  width: 240px;
  padding: 15px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#pageBodySub .localNavi ul li a:hover {
  background-color: #F4F4F4;
}
#pageBodySub .localNavi ul li a:before {
  position: absolute;
  top: 45%;
  left: 8px;
  display: block;
  content: "";
  width: 10px;
  height: 10px;
  background: url('../images/icon-chevronRight.svg') center/contain no-repeat;
}

/* 企業情報 */
#pageBodySub .infoList {
  width: 1000px;
  margin: 0 auto;
  border-top: solid 2px #333333;
  margin-top: 150px;
  padding-top: 20px;
}

#pageBodySub .infoList h3 {
  margin:0;
  font-size: 20px;
  line-height: 1.9;
  border-bottom: 1px dotted #333333;
  padding-bottom: 30px ;
  margin-bottom: 30px;
}

#pageBodySub .infoListItem {
  border-bottom: 1px dotted #333333;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

#pageBodySub .infoList .infoListItem h4{
  font-size: 16px;
  line-height: 1.875;
  margin: 0;
  padding-bottom: 10px;
}

#pageBodySub .infoList .infoListItem ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

#pageBodySub .infoList .infoListItem ul li{
  display: flex;
}

#pageBodySub .infoList .infoListItem ul li a{
  position: relative;
  color: #0C419A;
  font-size: 14px;
  line-height: 1.5px;
  text-decoration: none;
  width: 250px;
  padding: 20px 15px;
  box-sizing: border-box;
}
#pageBodySub .infoList .infoListItem ul li a:hover {
  text-decoration: underline;
}
#pageBodySub .infoList .infoListItem ul li a:before {
  position: absolute;
  top: 15px;
  left: 4px;
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  background: url('../images/icon-chevronRight.svg') center/contain no-repeat;
}

/* 前のページに戻る */
#pageBodySub .infoList .backPage p {
  margin: 50px 0;
}

#pageBodySub .infoList .backPage a {
  color: #0C419A;
  font-size: 16px;
  line-height: 1.875;
  text-decoration: none;
  background-image: url("../images/icon-chevronLeft.svg");
  background-repeat: no-repeat;
  background-size: 3px;
  padding-left: 15px;
  background-position: 0 50%;
}
#pageBodySub .infoList .backPage a:hover {
  text-decoration: underline;
}

/* ページフッター */
/* Follow */
#pageBodyFoot .footerTop {
  border: solid #999999;
  border-width: 2px 0;
  padding: 30px 0;
  margin-top: 100px;
  text-align: center;
}

#pageBodyFoot .footerTop h3{
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  display: inline-block;
}

#pageBodyFoot .footerTop h3,
#pageBodyFoot .footerTop a {
  margin-right: 40px;
}

#pageBodyFoot .footerTop a:last-child {
  margin-right: 0;
}

/* フッターメニューリスト */
#pageBodyFoot .footerMiddle {
  margin: 40px 0;
  padding: 0 80px;
  border-bottom: 1px solid #999999;
}

#pageBodyFoot .menuList {
  display: flex;
  flex-wrap: wrap;
}

#pageBodyFoot .menuList .menuListItem {
  width: 320px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

#pageBodyFoot .menuList .menuListItem h4 {
  font-size: 16px;
  line-height: 1.5;
  background-image: url("../images/icon-chevronRight.svg");
  background-repeat: no-repeat;
  background-size: 3px;
  background-position: 0 10px;
  padding-left: 15px;
}

#pageBodyFoot .menuList .menuListItem h4 a{
  color: inherit;
  text-decoration: none;
  display: block;
}
#pageBodyFoot .menuList .menuListItem h4 a:hover {
  text-decoration: underline;
}

#pageBodyFoot .menuList .menuListItem ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#pageBodyFoot .menuList .menuListItem ul li {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
  background-image: url("../images/icon-chevronRight.svg");
  background-repeat: no-repeat;
  background-size: 3px;
  background-position: 0 9px;
  padding-left: 15px;
}

#pageBodyFoot .menuList .menuListItem ul li a{
  color: inherit;
  text-decoration: none;
  display: block;
}
#pageBodyFoot .menuList .menuListItem ul li a:hover{
  text-decoration: underline;
}

/* フッターボトムリスト */
#pageBodyFoot .footerBottom {
  width: 1000px;
  margin: 60px auto;
}
#pageBodyFoot .footerBottom .bottomList ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
#pageBodyFoot .footerBottom .bottomList ul:after {
  content : "";
  clear: both;
  display: block;
}

#pageBodyFoot .footerBottom .bottomList ul li {
  font-size: 12px;
  line-height: 1;
  border-right: 1px solid #999999;
  padding: 0 18px;
  box-sizing: border-box;
  float: left;
}
#pageBodyFoot .footerBottom .bottomList ul li:first-child {
  padding-left: 0;
}
#pageBodyFoot .footerBottom .bottomList ul li:last-child{
  border-right: none;
}

#pageBodyFoot .footerBottom .bottomList ul li a {
  color: #999999;
  text-decoration: none;
}
#pageBodyFoot .footerBottom .bottomList ul li a:hover {
  text-decoration: underline;
}

#copyright small{
  font-size: 10px;
  line-height: 1.9;
}
